/* Overall settings */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8eddf;
  padding-top: 50px;
}
a:focus {
  outline: none;
}
.linkStyle:hover {
  font-size: 1rem;
  background: -webkit-linear-gradient(right, #b2c963, #32928f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
.linkStyle:focus {
  outline: none;
}
.linkStyle {
  font-size: 1rem;
  background: -webkit-linear-gradient(#e8eddf, #e8eddf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* wave header */
.wavebackground {
  margin: 0;
  padding: 0;
  position: relative;
  background: #242423;
  width: 100%;
  height: auto;
}
#curve {
  position: relative;
  width: 100%;
}
#curve path {
  fill: #e8eddf !important;
  stroke: none !important;
}
#curve_bottom {
  width: 100%;
  position: relative;
}
#curve_bottom path {
  fill: #e8eddf !important;
}
#nav_logo {
  padding: 2rem 0rem 0rem 2rem;
  width: 100%;
  height: auto;
}
.navlogo {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
/* Pseudo animations on logo */
#right_strokes {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0 !important;
}
/* #nav_logo:active #right_strokes {
  opacity: 1 !important;
} */
#silzpytio {
  -webkit-transition: all 0.75s ease-in;
  -moz-transition: all 0.75s ease-in;
  -o-transition: all 0.75s ease-in;
  transition: all 0.75s ease-in;
  transform: translate(-20px, 0px);
}
/* #nav_logo:active #silzpytio {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  transform: translate(0px, 0px);
} */
/* Mini Logo */
#nav_logo_mini {
}
/*Showtests*/
.category {
  padding: 2rem;
  text-align: center;
}
/* Footer */
.page-footer {
  background-color: #242423;
  color: #e8eddf;
}
/* BOOTSTRAP FIX */
.row {
  margin-right: 0px;
  margin-left: 0px;
}
